@import '../bootstrap/scss/functions';
@import '../bootstrap/scss/variables';

$form-file-button-color: $light;
$form-file-button-bg: $dark;
$form-file-button-hover-bg: shade-color($form-file-button-bg, 5%);

@import '../bootstrap/scss/mixins/buttons';
@import '../bootstrap/scss/bootstrap';

.btn-secondary {
    @include button-variant(
        $gray-700,
        $secondary
    );
}

#moreContentDropdown {
    --bs-dropdown-padding-y: 0 !important;
    font-size: 0.875em !important;
    min-width: 60px !important; }
  
#moreContentDropdown .dropdown-divider {
    margin: 0 !important; }

#dropdownTopItem {
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
}
#dropdownBottomItem {
    border-bottom-left-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}
