{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Instaqolam · 
        
        {% block title %}
            
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'stylesheet/main.css' %}">
    <script src="{% static 'scripts/bootstrap.bundle.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'instaqolam.png' %}">
</head>
<body class="text-white" style="background-color: #15171a;">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom border-secondary border-opacity-10">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'instaqolam.png' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
          Instaqolam
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'new_post' %}">New post</a>
            </li>
            {% endif %}
          </ul>

          <hr>

          <ul class="navbar-nav">

          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="logout">Logout</a></li>
            </ul>
          </li>

          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}

          </ul>
        </div>
      </div>
    </nav>
      <div class="container">
        {% block content %}
          
        {% endblock content %}
      </div>
        
</body>
</html>