{% extends 'posts/base.html' %}

{% block title %}
    Account
{% endblock title %}


{% block content %}

<br>
<h1>Account</h1>
<hr>
<div class="form-group">
<form method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}      

    <label for="id_email">Email:</label>
    <p class="input-group mb-3">

        <input type="email" value="{{ authuser.email }}" name="email" class="form-control bg-dark border border-secondary text-secondary" id="id_email" disabled>
        <a href="{% url 'email' authuser.slug %}" class="btn btn-outline-info" type="button" id="button-addon2">Edit</a>    
    </p>
    
    <label for="id_username">Username:</label>
    <p class="input-group mb-3">

        <input type="text" value="{{ authuser.username }}" name="username" class="form-control bg-dark border border-secondary text-secondary" id="id_username" disabled>
        <a href="{% url 'username' authuser.slug %}" class="btn btn-outline-info" type="button" id="button-addon2">Edit</a>    
    </p>

    <label for="id_password">Password:</label>
    <p class="input-group mb-3">

        <input type="password" value="abcd1234" name="username" class="form-control bg-dark border border-secondary text-secondary" id="id_password" disabled>
        <a href="{% url 'password' authuser.slug %}" class="btn btn-outline-info" type="button" id="button-addon2">Edit</a>    
    </p>

    <button class="btn btn-dark border border-secondary">Update</button>
    <a href="{% url 'index' %}" class="btn btn-secondary border border-secondary">Back</a>
</form>
</div>
<br>
<br>
    
{% endblock content %}